@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    width: 100vw;
    height: 100vh;
}
#game-gui {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    
}